
.resp {
   margin: 0 auto;
   max-width: 1200px;
   width: 100%;
 }
.parent-box {
   border: 3px solid firebrick;
   display: flex;
   justify-content: center;
   height: 1005px;
   flex-wrap: wrap;
}
.child-box {
   height: 500px;
   width: 1200px;
   margin: 5px;
}

header { 

}

.button {
   position: relative;
   padding: 10px 22px;
   background: #7d2ae8;
   border-radius: 6px;
   color: white;
   border: none;
   font-size: 17px;
   font-weight: 400px;
   cursor: pointer;
   transition: 0.2s ease;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.button:active {
    transform: scale(0.97);
}

.button::before
.button::after {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   width: 150%;
   z-index: -1;
   border: 2px solid red;
   background-repeat: no-repeat;
}

.button.animate::before {
   background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), 
   radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), 
   radial-gradient(circle, #7d2ae8 20%, transparent 20%),
   radial-gradient(circle, transparent 10%, #7d2ae8 15%%, transparent 20%)  
   radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
     radial-gradient(circle, #7d2ae8 20%, transparent 20%);
}


.continer {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}



.header-content {
   padding: 18px 0;
   display: flex;
   align-items: center;
   
}

ul 	{
	display: flex;
}
  
 li a {
	color:#000000;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 50px;
    text-transform: uppercase;
 }

 input {
   font-size: 15px;
   margin-left: 20px;
 }

.addic {
   background-image: url(../images/addict.jpg);
   height: 430px;
   width: 1200px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
      justify-content: center;
   align-items: center;
   display: flex;

}

.addic h1 {
   margin-bottom: 30px;
   font-size: 50px;
   font-weight: bold;
   color: red;
}

.content h2 {
   margin-top: 10px;
   font-size: 50px;
   font-weight: 200px;
   color: firebrick;
  margin-left: 515px;
}

.content p {
   font-size: 30px;
   font-weight: 100px;
   margin-left: 100px;
}


.element { 
  display: inline-block;
  vertical-align: middle;
   width: 1200px;
 height: 216px;
 background: red; 
 display: inline-block;
} 


.element h3 {
   font-size: 50px;
   padding-left: 400px;
   padding-top: 19px;
   color: darkred;
}

.element p1 {
   padding-left: 20px;
   font-size: 45px;
   width: 250px;
   height: 100px;
}

.active {
  color: #4E6FAE;
}


.addict h4 {
   margin-bottom: 30px;
   font-size: 50px;
   font-weight: bold;
   color: red;
}

.addict {
   background-image: url(../images/th.jpg);
   height: 300px;
   margin-left: 550px;
   width: 610px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   
}
.cont h5 {
   margin-top: 10px;
   font-size: 50px;
   font-weight: 200px;
   color: firebrick;
  margin-left: 515px;
}


.idk p2 {
   margin-top: 4px;
   font-size: 35px;
   font-weight: 100px;
   margin-left: 230px;
   color: firebrick;
   
}

