*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "poppins", sans-serif;
}
body {
   height: 130vh;
   display: flex;
   justify-content: center;
   align-items: center;
  cursor: none;
}

.cursor {
   z-index: 999;
   background: #2696E8;
   position: fixed;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   pointer-events: none;
   box-shadow: 0 0 20px #2696E8,
               0 0 60px #2696E8,
               0 0 100px #2696E8;
  animation: colors 5s infinite;
transform: translate(-50%, -50%);
}

@keyframes colors {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

.cursor:before {
   content: '';
   
   background-image: #2696E8;
   width: 50px;
   height: 50px;
   opacity: 0.2;
   transform: translate(-30%, -30%);
   border-radius: 50%;
}

a {
   font-size: 10px;
   margin-left: 4px;
}

.resp {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
input.as_link {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
input.as_link:link {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
input.as_link:visited {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
input.as_link:hover {
    text-decoration: underline;
    background: #F4F0F0;
}
.as_link {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
.as_link:link {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
.as_link:visited {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
.as_link:hover {
    text-decoration: underline;
    background: #F4F0F0;
}
.parent-box {
   display: flex;
   justify-content: center;
   height: 1005px;
   flex-wrap: wrap;
}
.child-box {
   height: 500px;
   width: 100%;
   margin: 5px;
}



header { 
  
}
.child-box {
  height: 500px;
  width: 100%;
  margin: 5px;

}

.button {
   margin-right: 5px;
   position: relative;
   padding: 10px 22px;
  background: #7d2ae8;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400px;
  transition: 0.2s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  position: relative;
  isolation: isolate;
}

.button:active {
  transform: scale(0.97);
}


.button::before .button::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 150%;
  z-index: -1;
  border: 2px solid red;
  background-repeat: no-repeat;
}
.button.animate::before {
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%)
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
}

.continer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  padding: 18px 0;
  display: flex;
  justify-content: normal;
  align-items: center;
}

ul {
  display: flex;
}


  
 li a {
	color: black;
    font-family: Helvetica;
    margin-left: 50px;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
 }

 input {
   font-size: 15px;
   margin-left: 20px;
   width: 13%;
 }

.addic {
   background-image: url(../images/addict.jpg);
   height: 430px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   justify-content: center;
   align-items: center;
   display: flex;
  }


input {
  font-size: 15px;
  margin-left: 20px;
}



.addic h1 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

.content {
   text-align: center;
}

.content h2 {
   HEAD
   margin-top: 10px;
   font-size: 50px;
   font-weight:200px;
   color: firebrick;
  margin-left: 0px;
}

.content p {
   font-size: 30px;
   font-weight: 100px;
   width: 100%;
  margin-top: 10px;
  font-size: 50px;
  font-weight: 200px;
  color: firebrick;
}



.element {
  display: inline-block;
  vertical-align: middle;
   width: 100%;
 height: 216px;
 display: inline-block;
} 


.element h3 {
   font-size: 60px;
   padding-left: 0px;
   padding-top: 19px;
   color: darkred;
}

.element p1 {
   padding-left: 20px;
   font-size: 45px;
   width: 100%;
   height: 100px;
  width: 100%;
  height: 216px;
  display: inline-block;
}

.active {
  color: skylue;
}


.addict h4 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

.addict {
   background-image: url(../images/th.jpg);
   height: 300px;
   margin-bottom:70px;
   margin-left: 0px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   
}
.cont h5 {
   margin-top: 10px;
   font-size: 60px;
   font-weight: 200px;
   color: firebrick;
  margin-left: 0px;
}


.main-content {
   display: flex;

}
.left-side {
   width: 235px;
   border: 1px solid red;
}

.left-side h6 {
   color: darkred;
   font-size: 19px;
}

.right-side { 
   width: 300px;
   margin-bottom: 50px;
   display: flex;
   flex-wrap: wrap;
}

.card p4 {
   font-size: 20px;
   width: 100px;
}
.card {
   width: 286px;
   height: 312px;
}

.card img {
   margin-left: 3px;
   width: 100%;
   height: 195px;
}

.fot p5 {
   font-size: 20px;
   width: 100px;
}


.fot {
   width: 286px;
   height: 312px;
}
.fot img {
   margin-left: 5px;
   width: 100%;
   height: 195px;
}
.den p6 {
   font-size: 19px;
   width: 100px;
}

.den {
   width: 286px;
   height: 312px;
}
.den img {
   margin-left: 12px;
   width: 100%;
   height: 195px;
}


.nah id {
   font-size: 19px;
   width: 100px;
}
.nah {
   width: 286px;
   height: 312px;
}
.nah img {
   margin-left: 5px;
   width: 100%;
   height: 195px;
}

.abou {
   padding-left: 10px;
  width: 100%;
 height: 300px;
 display: inline-block;
vertical-align: middle;
  background-color: lightgrey;
}

.mus {
   margin-left: 500px;
    width: 100%;
   font-size: 50px;
    color: black;
}
.div3 {
   padding-top: 40px;
   padding-left: 10px;
  display: inline-block;
  width: 578px;
  height: 735px;
  
}

.zaf { 
   vertical-align: middle;
  display: inline-block;
   width: 100%;
   font-size: 20px;
   color: blue;
   padding-left: 100px;
   padding-top: 30px;
}


.anda {
 vertical-align: middle;
   padding-top: 20px;
   display: inline-block;
   width: 100%;
   font-size: 20px;
   color: blue;
   padding-left: 100px;
}

.mayb {
    vertical-align: middle;
   padding-top: 20px;
   display: inline-block;
   width: 100%;
   font-size: 20px;
   color: blue;
   padding-left: 100px;
}


.afil  {
   margin-top: 10px;
   font-size: 50px;
   font-weight: 200px;
   color: blue;
  margin-left: 0px;
}

.stop {
   background-image: url(../images/qui.jpg);
   height: 300px;
   margin-top: 10px;
   margin-bottom:70px;
   margin-left: 0px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}

.ova {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

.m-content {
   display: flex;

}
.leftside {
   width: 235px;
   border: 1px solid blue;
}

.tab {
   color: darkred;
   font-size: 20px;
}

.rightside { 
   display: inline-block;
   width: 300px;
   margin-bottom: 50px;
   
   flex-wrap: wrap;
}

.olfin npr {
   font-size: 19px;
   width: 100px;
}
.olfin {
   width: 286px;
   height: 312px;
}
.olfin img {
   margin-left: 3px;
   width: 100%;
}

.allgi seof {
   font-size: 19px;
   width: 100px;
}
.allgi {
   width: 286px;
   height: 312px;
}
.allgi img {
   display: flex;
   margin-left: 3px;
   width: 100%;
}

.gial padi {
   font-size: 19px;
   width: 100px;
}
.gial {
   width: 286px;
   height: 312px;
}
.gial img{
   margin-left: 3px;
   width: 100%;
}

